body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing:antialiased
}

header {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 520px;
  margin-left: -260px;
}

h1, h2 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 100%;
  padding-left: 80px;
}

h1 {
  text-align: left;
  height: 100px;
  font-size: 62px;
  line-height: 100%;
  background: url(../img/deezer-logo.png) no-repeat 0px 8px;
}

h2 {
  margin-top: -40px;
  font-size: 18px;
  color: #999;
}

a, img {
  text-decoration: none;
  color: #999;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

a:hover {
  color: white;
}

#download {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 128px;
  width: 372px;
  margin-left: -186px;
  margin-top: -64px;
}

#download ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#download li {
  float: left;
}

#download a {
  display: block;
  padding: 30px;
  text-align: center;
}

#download a img {
  opacity: 0.4;
  width: 64px;
}

#download a:hover img {
  opacity: 1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  font-size: 10px;
}

footer span {
  font-size: 12px;
  font-weight: normal;
  color: #999;
  margin: 0 5px;
}

@-webkit-keyframes fade-in { from { opacity: 0;} to { opacity: 1;} }
@keyframes fade-in { from { opacity: 0;} to { opacity: 1;} }

.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 2s ease-in 1;
  animation: fade-in 2s ease-in 1;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.fade-in.two {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.fade-in.three {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
